<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <title>Frontend Mentor Challenges</title>
</head>

<body>
    <h1>Frontend Mentor Challenges</h1>
    <div class="projects-container">
        <div class="project">
            <h2>Project Name</h2>
            <img src="https://source.unsplash.com/WLUHO9A_xik/1600x900">
            <p>Decription</p>
        </div>
    </div>
</body>

</html>